# Arquivo de Exemplo de Variáveis de Ambiente (.env)

# Credenciais da API do BookStack
# **Substitua pelos seus valores reais**
BOOKSTACK_TOKEN_ID="SEU_TOKEN_ID"
BOOKSTACK_TOKEN_SECRET="SEU_TOKEN_SECRET"